@{
    ViewBag.Title = "Home Page";
}

<section class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-sm-12">
            <h1>Пластинки</h1>
            <hr />
        </div>
        <div class="col-lg-9 col-md-9 hidden-sm hidden-xs control-bar-wrapper">
            @Html.Partial("_ControlBar")
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="col-lg-3 col-md-3 col-sm-12  col-xs-12  panel-control">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#Style">Стили</a></h4>
                    </div>
                    <div id="Style" class="panel-collapse collapse">
                        <div class="panel-body">
                            @foreach (var item in ViewBag.style.Keys)
                            {
                                <div class="checkbox-wrapper"><label><input data-style="@item" type="checkbox">@item<sup>@ViewBag.style[item]</sup></label></div>
                            }
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#Groups">Группы</a></h4>
                    </div>
                    <div id="Groups" class="panel-collapse collapse">
                        <div class="panel-body">
                            @foreach (var item in ViewBag.artist.Keys)
                            {
                                <div class="checkbox-wrapper"><label><input data-artist="@item" type="checkbox">@item<sup>@ViewBag.artist[item]</sup></label></div>
                            }
                         </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#Album">Альбомы</a></h4>
                    </div>
                    <div id="Album" class="panel-collapse collapse">
                        <div class="panel-body">
                            @foreach (var item in ViewBag.album.Keys)
                            {
                                <div class="checkbox-wrapper"><label><input data-album="@item" type="checkbox">@item<sup>@ViewBag.album[item]</sup></label></div>
                            }
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#Price">Цена</a></h4>
                    </div>
                    <div id="Price" class="panel-collapse collapse">
                        <div class="panel-body slider">
                            <p>
                                <label for="amount">Price range:</label>
                                <input type="text"  id="amount" readonly min="@ViewBag.min" max="@ViewBag.max" style="border:0; color:#f6931f; font-weight:bold;">
                            </p>

                            <div id="slider-range"></div>
                        </div>
                    </div>
                </div>
                
            </div>
           <div id="vinilsView">@Html.Partial("_VinilsView")</div>
        </div>
        
    </div>   
    <div id="Count2"class="col-lg-offset-3 col-lg-9 col-md-offset-3 col-md-9 col-sm-offset-0 col-sm-12 col-xs-offset-0 col-xs-12   control-bar-wrapper">@Html.Partial("_ControlBar")</div> 
</section>